name: CI for ML Project

on:
  push:
    branches:
      - main
      - master
      - "*"

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar repositorio
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Instalar dependencias
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Ejecutar entrenamiento
      - name: Run training script
        run: |
          python train.py

      # 5. Guardar el modelo entrenado como artefacto
      - name: Upload trained model
        uses: actions/upload-artifact@v3
        with:
          name: random_forest_model
          path: random_forest_model.pkl

